---
layout: default
category: home
home: home
full_title: 怡德塑料
---
<div class="slider fullwidthbanner-container roundedcorners">
  <div class="fullwidthbanner">
    <ul class="hide">
      <li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        <div class="tp-caption large_bold_white sft stb" data-x="60" data-y="223" data-speed="300" data-start="500" data-easing="easeOutExpo">专注浴室防滑垫</div>
        <div class="tp-caption medium_text lfl stl" data-x="63" data-y="286" data-speed="500" data-start="1000" data-easing="easeOutExpo">The Professor of Bath Mat</div>
        <div class="tp-caption sft medium_light_white" data-x="600" data-y="60" data-speed="600" data-start="1500" data-easing="easeOutExpo"><a href="{{ site.url }}/bath-mats/bm6939-01s-3.html"><img src="{{ site.url }}/imagesbillboard-1.png" alt=""></a></div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <div class="tp-caption large_bold_white sft stb" data-x="60" data-y="223" data-speed="300" data-start="500" data-easing="easeOutExpo">专注浴室防滑垫</div>

              <div class="tp-caption medium_text lfl stl"
                data-x="63"
                data-y="286"
                data-speed="500"
                data-start="1000"
                data-easing="easeOutExpo">The Professor of Bath Mat
              </div>

              <div class="tp-caption sft medium_light_white" 
                data-x="600" 
                data-y="60" 
                data-speed="600" 
                data-start="1500" 
                data-easing="easeOutExpo"><a href="{{ site.url }}/bath-mats/bm7040-05ch02.html"><img src="{{ site.url }}/images/home/billboard-2.png" alt="" /></a>
              </div>

      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

              <div class="tp-caption large_bold_white sft stb"
                data-x="60"
                data-y="223"
                data-speed="300"
                data-start="500"
                data-easing="easeOutExpo">专注浴室防滑垫
              </div>

              <div class="tp-caption medium_text lfl stl"
                data-x="63"
                data-y="286"
                data-speed="500"
                data-start="1000"
                data-easing="easeOutExpo">The Professor of Bath Mat
              </div>

              <div class="tp-caption sft medium_light_white" 
                data-x="600" 
                data-y="60" 
                data-speed="600" 
                data-start="1500" 
                data-easing="easeOutExpo"><a href="{{ site.url }}/sink-pad/bm3227-07.html"><img src="{{ site.url }}/images/home/billboard-3.png" alt=""></a>
              </div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

              <div class="tp-caption large_bold_white sft stb"
                data-x="60"
                data-y="223"
                data-speed="300"
                data-start="500"
                data-easing="easeOutExpo">专注浴室防滑垫
              </div>

              <div class="tp-caption medium_text lfl stl"
                data-x="63"
                data-y="286"
                data-speed="500"
                data-start="1000"
                data-easing="easeOutExpo">The Professor of Bath Mat
              </div>

              <div class="tp-caption sft medium_light_white" 
                data-x="600" 
                data-y="60" 
                data-speed="600" 
                data-start="1500" 
                data-easing="easeOutExpo"><a href="{{ site.url }}/sink-pad/bm3227-07.html"><img src="{{ site.url }}/images/home/billboard-4.png" alt=""></a>
              </div>

      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

              <div class="tp-caption large_bold_white sft stb"
                data-x="60"
                data-y="223"
                data-speed="300"
                data-start="500"
                data-easing="easeOutExpo">专注浴室防滑垫
              </div>

              <div class="tp-caption medium_text lfl stl"
                data-x="63"
                data-y="286"
                data-speed="500"
                data-start="1000"
                data-easing="easeOutExpo">The Professor of Bath Mat
              </div>

              <div class="tp-caption sft medium_light_white" 
                data-x="600" 
                data-y="60" 
                data-speed="600" 
                data-start="1500" 
                data-easing="easeOutExpo"><a href="{{ site.url }}/bathroom-set/1-1818s-08.html"><img src="{{ site.url }}/images/home/billboard-5.png" alt=""></a>
              </div>

      </li>
    
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
        <img src="{{ site.url }}/images/home/1x1.png" data-lazyload="/images/home/billboard.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

              <div class="tp-caption large_bold_white sft stb"
                data-x="60"
                data-y="223"
                data-speed="300"
                data-start="500"
                data-easing="easeOutExpo">专注浴室防滑垫
              </div>

              <div class="tp-caption medium_text lfl stl"
                data-x="63"
                data-y="286"
                data-speed="500"
                data-start="1000"
                data-easing="easeOutExpo">The Professor of Bath Mat
              </div>

              <div class="tp-caption sft medium_light_white" 
                data-x="600" 
                data-y="60" 
                data-speed="600" 
                data-start="1500" 
                data-easing="easeOutExpo"><img src="{{ site.url }}/images/home/billboard-6.png" alt="">
              </div>
      </li>
    </ul>
  </div>
</div>
<section>
  <div class="container">
    <header class="margin-bottom30">
      <h2 style="font-family:Microsoft YaHei;font-size:22px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/products/">怡德产品-YIDE Products</a></h2>
    </header>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/bath-mats.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/drain-pan/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/drain-pan.jpg" alt="沥水盘">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/sink-pad/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/sink-pad.jpg" alt="水槽垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/bathroom-set/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/bathroom-set.jpg" alt="卫浴套装">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/coasters/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/coasters.jpg" alt="杯垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/fence/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/fence.jpg" alt="篱笆">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/mini-pad/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/mini-pad.jpg" alt="迷你垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/plastic-accessory/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/plastic-accessory.jpg" alt="塑料配件加工">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="nomargin">
<section>
  <div class="container">
    <h2 style="font-family:Microsoft YaHei;font-size:22px;">产品展示-Products Show</h2>
    <div class="owl-carousel featured" data-plugin-options='{"singleItem": false, "stopOnHover":false, "autoPlay":true, "autoHeight": false, "navigation": true, "pagination": false}'>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show1.jpg" width="230"></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show2.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show3.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show4.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show5.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show3.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show1.jpg" width="230" /></a>
      <a href="{{ site.url }}/drain-pan/"><img alt="" src="{{ site.url }}/images/home/show2.jpg" width="230" /></a>
    </div>
  </div>
</section>
<hr class="nomargin">
<section class="alternate">
  <div class="container">
    <header class="margin-bottom30">
      <div class="col-md-6" style="padding-left:0px;">
        <h2 style="font-family:Microsoft YaHei;font-size:20px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/bath-mats/">浴室垫-Bath Mats</a></h2>
      </div>
      <div class="col-md-6" style="padding-right:0px;">
        <h2 style="font-family:Microsoft YaHei;font-size:16px;text-align:right;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/bath-mats/">查看全部 <i class="fa fa-chevron-circle-right"></i></a></h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/home-bath-mats-1.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:0px;">
        <div class="row">{% for post in site.categories["bath-mats"] %}{% if post.home == page.home %}
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
            <div class="box-content thumbnail text-center" style="margin-bottom:8px">
              <a href="{{ site.url }}{{ post.url }}" class="item-image">
                <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-home.jpg" alt="{{ post.title }}">
              </a>
            </div>
          </div>{% endif %}{% endfor %}
        </div>
      </div>
    </div>
    <header class="margin-bottom30">
      <div class="col-md-6" style="padding-left:0px;">
        <h2 style="font-family:Microsoft YaHei;font-size:20px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/sink-pad/">水槽垫-Sink Pad</a></h2>
      </div>
      <div class="col-md-6" style="padding-right:0px;">
        <h2 style="font-family:Microsoft YaHei;font-size:16px;text-align:right;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/sink-pad/">查看全部 <i class="fa fa-chevron-circle-right"></i></a></h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/home-sink-pad-1.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:0px;">
        <div class="row">{% for post in site.categories["sink-pad"] %}{% if post.home == page.home %}
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
            <div class="box-content thumbnail text-center" style="margin-bottom:8px">
              <a href="{{ site.url }}{{ post.url }}" class="item-image">
                <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-home.jpg" alt="{{ post.title }}">
              </a>
            </div>
          </div>{% endif %}{% endfor %}
        </div>
      </div>
    </div>
    <header class="margin-bottom30">
      <div class="col-md-6" style="padding-left:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:20px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/drain-pan/">沥水盘-Drain Pan</a></h2>
      </div>
      <div class="col-md-6" style="padding-right:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:16px;text-align:right;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/drain-pan/">查看全部 <i class="fa fa-chevron-circle-right"></i></a></h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/home-drain-pan-1.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:0px;">
      <div class="row">{% for post in site.categories["drain-pan"] %}{% if post.home == page.home %}
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}{{ post.url }}" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-home.jpg" alt="{{ post.title }}">
          </a>
        </div>
      </div>{% endif %}{% endfor %}
      </div>
      </div>
    </div>
    <header class="margin-bottom30">
      <div class="col-md-6" style="padding-left:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:20px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/bathroom-set/">卫浴套装-Bathroom Set</a></h2>
      </div>
      <div class="col-md-6" style="padding-right:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:16px;text-align:right;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/bathroom-set/">查看全部 <i class="fa fa-chevron-circle-right"></i></a></h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/home-bathroom-set-1.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:0px;">
      <div class="row">{% for post in site.categories["bathroom-set"] %}{% if post.home == page.home %}
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}{{ post.url }}" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-home.jpg" alt="{{ post.title }}">
          </a>
        </div>
      </div>{% endif %}{% endfor %}
      </div>
      </div>
    </div>
    <header class="margin-bottom30">
      <div class="col-md-6" style="padding-left:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:20px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/stock/">现货库存-Stock</a></h2>
      </div>
      <div class="col-md-6" style="padding-right:0px;">
      <h2 style="font-family:Microsoft YaHei;font-size:16px;text-align:right;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/stock/">查看全部 <i class="fa fa-chevron-circle-right"></i></a></h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bath-mats/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/home-stock-1.jpg" alt="浴室垫">
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-left:0px;">
      <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/drain-pan/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/33.jpg" alt="沥水盘">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/sink-pad/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/34.jpg" alt="水槽垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/bathroom-set/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/35.jpg" alt="卫浴套装">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center" style="margin-bottom:8px">
          <a href="{{ site.url }}/coasters/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/36.jpg" alt="杯垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/fence/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/37.jpg" alt="篱笆">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/mini-pad/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/38.jpg" alt="迷你垫">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/plastic-accessory/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/39.jpg" alt="塑料配件加工">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0px;">
        <div class="box-content thumbnail text-center">
          <a href="{{ site.url }}/plastic-accessory/" class="item-image">
            <img class="img-responsive" src="{{ site.url }}/images/home/40.jpg" alt="塑料配件加工">
          </a>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
<hr class="nomargin">
<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="font-family:Microsoft YaHei;font-size:22px;"><a style="text-decoration:none;color:#000" href="{{ site.url }}/about/">怡德简介-About YIDE</a></h2>
        <p><img class="img-responsive" src="{{ site.url }}/images/home/about.jpg" alt="怡德简介"></p>
        <div style="text-indent:2em">
          <p style="line-height:25px">怡德塑料制品有限公司成立于1999年，是专业研发生产卫浴用品、日用品的现代制造企业。公司拥有近2万平方米的标准厂房，最新型现代化注塑成型机近60台，一流的研发管理团队。我们有专业化的模具设计制造能力，先进的注塑成型、喷油、丝印、移印等生产工艺。公司始终本着“以人为本，不断创新”的经营理念，让怡德卫浴产品始终领跑在世界前沿，并赢得了许多国际知名买家 的认可和信赖。</p>
          <p style="line-height:25px">我们坚持改善管理严格执行全面质量管理，为客户提供具有竞争力的产品。公司先后通过了ISO9001:2008国际质量管理体系认证，PVC材料EN71无毒认证，PAHs，Phtha late free，RoHS等欧盟环保测试标准。</p>
          <p style="line-height:25px">我们热忱欢迎国内外各界人士与我们真诚合作，携手共创辉煌！</p>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3"><a href="{{ site.url }}/authentication/"><img class="img-responsive" src="{{ site.url }}/images/home/authentication.jpg" alt="资质证书"></a></div>
          <div class="col-xs-6 col-sm-6 col-md-3"><a href="http://sdyide.1688.com/" target="_blank"><img class="img-responsive" src="{{ site.url }}/images/home/1688.jpg" alt="阿里巴巴"></a></div>
          <div class="col-xs-6 col-sm-6 col-md-3"><img class="img-responsive" src="{{ site.url }}/images/home/partners.jpg" alt="合作伙伴"></div>
          <div class="col-xs-6 col-sm-6 col-md-3"><a href="{{ site.url }}/contact/"><img class="img-responsive" src="{{ site.url }}/images/home/contact.jpg" alt="联系我们"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>