<ul class="side-nav list-group">
  <li class="active">
    <a href="{{ site.url }}/stock/">现货库存</a>
    <ul class="collapse in">
      <li class="{% if page.type-en == 'bath-mats' %}active{% endif %}"><a href="{{ site.url }}/stock-bath-mats/"><i class="fa fa-angle-right"></i> 浴室垫-Bath Mats</a></li>
      <li class="{% if page.type-en == 'drain-pan' %}active{% endif %}"><a href="{{ site.url }}/stock-drain-pan/"><i class="fa fa-angle-right"></i> 沥水盘-Drain Pan</a></li>
      <li class="{% if page.type-en == 'sink-pad' %}active{% endif %}"><a href="{{ site.url }}/stock-sink-pad/"><i class="fa fa-angle-right"></i> 水槽垫-Sink Pad</a></li>
      <li class="{% if page.type-en == 'bathroom-set' %}active{% endif %}"><a href="{{ site.url }}/stock-bathroom-set/"><i class="fa fa-angle-right"></i> 卫浴套装-Bathroom Set</a></li>
      <li class="{% if page.type-en == 'coasters' %}active{% endif %}"><a href="{{ site.url }}/stock-coasters/"><i class="fa fa-angle-right"></i> 杯垫-Coasters</a></li>
      <li class="{% if page.type-en == 'fence' %}active{% endif %}"><a href="{{ site.url }}/stock-fence/"><i class="fa fa-angle-right"></i> 篱笆-Fence</a></li>
      <li class="{% if page.type-en == 'mini-pad' %}active{% endif %}"><a href="{{ site.url }}/stock-mini-pad/"><i class="fa fa-angle-right"></i> 迷你垫-Mini Pad</a></li>
      <li class="{% if page.type-en == 'plastic-accessory' %}active{% endif %}"><a href="{{ site.url }}/stock-plastic-accessory/"><i class="fa fa-angle-right"></i> 塑料配件加工-Plastic Accessory</a></li>
      <li class="{% if page.type-en == 'plastic-mold' %}active{% endif %}"><a href="{{ site.url }}/stock-plastic-mold/"><i class="fa fa-angle-right"></i> 塑料模具制造-Plastic Mold</a></li>    
    </ul>
  </li>
</ul>