---
layout: pages
permalink: /contact/
category: contact
title: 联系我们
keywords: 联系我们关键字
description: 联系我们摘要。
---
<section>
  <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          {% include nav-contact.html %}
          {% include nav-products.html %}
          {% include nav-stock.html %}
          {% include nav-news.html %}
          {% include nav-about.html %}
        </div>
        <div class="col-md-9 col-sm-9">
          <p align="center"><a href="http://j.map.baidu.com/sLv67" target="_blank"><img class="img-responsive" src="{{ site.url }}/images/contact/map.jpg" alt="怡德塑料百度地图"></a></p>
          <p><strong><i class="fa fa-map-marker"></i> 地址：</strong>佛山市顺德区大良凤翔工业园昌宏路16号</p>
          <p><strong><i class="fa fa-phone"></i> 电话：</strong><a href="tel:0757-22331837">0757-22331837</a>、<a href="tel:0757-22331833">0757-22331833</a></p>
          <p><strong><i class="fa fa-fax"></i> 电话：</strong>0757-22202626</p>
          <p><strong><i class="fa fa-envelope"></i> E-mail：</strong>yide8888@126.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
