---
layout: pages
permalink: /news/
paginate_path: "news/page:num"
category: news
title: 新闻中心
keywords: 新闻中心
description: 新闻中心。
---
<section>
  <div class="container">
    <div id="blog" class="row">
      <div class="col-md-3 col-sm-3">
        {% include nav-news.html %}
        {% include nav-products.html %}
        {% include nav-stock.html %}
        {% include nav-about.html %}
        {% include nav-contact.html %}
      </div>
      <div class="col-md-9 col-sm-9">{% for post in site.categories["news"] %}
        <div class="prev-article row">
          <div class="blog-prev-date col-md-3 col-sm-3">
            <span class="date"><small>{{ post.date | date:"%Y年%m月%d日" }}</small></span>
            <span class="info hidden-xs"><span class="block"><i class="fa fa-user"></i> 作者：{{ post.keywords }}</span></span>
          </div>
          <div class="col-md-9 col-sm-9">
            <h2 class="article-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
          </div>
        </div>{% endfor %}
        <div class="text-center">
          <ul class="pagination">
            <li class="disabled">{% if paginator.total_pages > 1 %}{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>{% else %}<a>&laquo;</a>{% endif %}</li>
            {% for page in (1..paginator.total_pages) %}<li class="active">{% if page == paginator.page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }} <span class="sr-only">(current)</span></a>{% else %}<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>{% endif %}</li>{% endfor %}
            <li>{% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>{% else %}<a>&raquo;</a>{% endif %}</li>
          </ul>
        </div>
        <div class="row">
          <div class="toggle transparent">
            <div class="toggle">
              <label>想了解贵公司的浴室垫价格，以及最少起订量？</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，请具体指明哪个产品。一般来说，由于是大机器生产，上机台生产一款产品最少起订量为1000片/色。若部分产品有库存，收到货款后，2天内安排发货。</p>
              </div>
            </div>
            <div class="toggle">
              <label>贵厂只做防滑垫吗?</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，我司有很多防滑垫产品，但也做其它塑料件产品，如篱笆，烫斗架，滴水盘，吸盘，塑料旅行套装盒子等产品。同时，也可以接受其它塑料产品加工。具体价格，请咨询我司业务。</p>
              </div>
            </div>
            <div class="toggle">
              <label>我司客人提供样品，请问贵厂可以开模具？</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，可以的。我厂有专业的模具线和模具设计队伍，务必做到客人满意才生产大货。</p>
              </div>
            </div>
            <div class="toggle">
              <label>贵厂有验厂报告吗?</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，有的。请找我司业务洽谈。</p>
              </div>
            </div>
            <div class="toggle">
              <label>贵厂的浴室防滑垫BM7040-02红玫瑰很漂亮，我司有</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，可以的，请点击页面的联系方式，并向我司业务提供图样。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们的浴室垫出口吗？做什么市场?</label>
              <div class="toggle-content">
                <p class="clearfix">答：出口。出口全球，欧美市场销量最好。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们可以提供塑料制品的原料成分报告吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：可以的，请联系业务。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们厂的PVC浴室垫是过6P的吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：是的，我厂防滑垫符合欧美出口标准。我们可以提供产品给客人做测试。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们的浴室垫过防滑测试吗？有测试报告吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：我厂防滑垫符合欧美防滑测试标准。可以提供防滑测试报告，也可以提供产品给客人自己做测试。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们厂的塑料制品可以做全检吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：可以的。你需要什么产品？</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们的防滑垫过7P吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：可以过。</p>
              </div>
            </div>
            <div class="toggle">
              <label>塑料制品可以提供免费样品吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：塑料制品大部分产品可以。</p>
              </div>
            </div>
            <div class="toggle">
              <label>请问你们厂的防滑垫有哪几种规格尺寸？可以订做吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：怡德塑料制品有限公司防滑垫一直秉承顾客至上，以人为本的经营理念，为各种不同需求的客户提供不一样的贴心产品服务，我们的防滑垫有以下几款常规的尺寸供客户们参考：70*40CM、69*39CM、70*38CM、53*53CM等。如果客户对以上规格尺寸还是不合适，我们将会进一步沟通从而达成共识，为顾客量身订造一款满意的产品。详情可致电怡德塑料制品有限公司营销部咨询。电话:0757-22331837。</p>
              </div>
            </div>
            <div class="toggle">
              <label>请问你们的防滑垫防霉吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：怡德塑料制品有限公司主营产品是浴室防滑垫，超过15年的生产经营，我们一直选用优质环保PVC材料，再加入独有的防霉剂生产而成，并且对每一个生产工序都有严格要求，通过质检后方可出货。务求让客户收到称心满意的产品，舒适、环保、实用，为顾客们营造绿色健康生活。因此怡德防滑垫是你放心之选。想了解更多有关质量问题的，详情请致电到我司了解。电话:0757-22331837。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们厂的防滑垫能印上指定的文字吗?</label>
              <div class="toggle-content">
                <p class="clearfix">答：怡德塑料制品有限公司成立至今将近15年，我们一直本着“以人为本，不断创新”的经营理念，为多方客户提供优质服务。为防滑垫产品印上指定文字，首先要了解到文字相关内容信息，查询有没涉及到相关的版权方面问题，以免客户造成不必要的损失。过往许多国际知名买家在我司磋商合作，也印上了他们的特有文字在防滑垫上，得到你我共赢的效果。</p>
              </div>
            </div>
            <div class="toggle">
              <label>塑料制品色卡是否供选择会否有色差</label>
              <div class="toggle-content">
                <p class="clearfix">答：现在的浴室防滑垫多种多样，而怡德塑料制品有限公司所生产的也不例外，多样化选择；凡对我们怡德的产品有兴趣的客户我们都会竭诚为客户们提供多样化的色卡和图案参考选择；色差问题不用过于担心，以我们多年的成熟技术，总让过往的客户得到满意的回馈！详情请致电:0757-22331837。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们的卫浴产品有供给大型酒店吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：随着人们生活水平的不断提高,消费者更加关注生活的享受，现在无论是家庭还是酒店使用防滑垫的已经越来越多了，家庭中需要关爱家人，酒店需要提供无微不至的服务，满足客户需求。怡德浴室防滑垫，优良的品质畅销国内外，大中型超市、酒店这些是我们经常供货的。怡德浴室防滑垫供到大部分超市、酒店都反馈得到了满意的回复，客户的满意度让怡德公司更加茁壮成长着。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你们公司有参加展会吗？</label>
              <div class="toggle-content">
                <p class="clearfix">答：怡德公司致力于打造多个平台与多方客户的沟通与交流，每年都会积极参加大型的展会，例如每年的广交会都会看到怡德塑料制品有限公司的身影，公司的浴室防滑垫、卫浴系列、塑料制品系列每次都会以独特的一面出现在展位上。近期我们还会参加第109届中国日用百货商品交易会暨中国现代家庭用品博览会，地点在上海市浦东新区龙阳路2345号，时间为期3天，8月6日-8日。欢迎您们的莅临指导。</p>
              </div>
            </div>
            <div class="toggle">
              <label>哪几款塑料制品比较热销欧美那边的？</label>
              <div class="toggle-content">
                <p class="clearfix">答：浴室防滑垫在每个国家每个区域的使用情况都不一样，无论是国内还是国外，怡德塑料制品有限公司一直销量领先，我们可以推荐几款 热销产品，经典版的水球、珠珠；贴件款式；这些我们都销量不错。怡德浴室防滑垫一直在研发新产品，务求让各类不同客户提供不同的新 产品。这值得客户们的密切关注。</p>
              </div>
            </div>
            <div class="toggle">
              <label>你好，贵厂有多少台注塑机器？我司可以需要验厂。</label>
              <div class="toggle-content">
                <p class="clearfix">答：你好，我厂有50台注塑机，是有15年历史的老厂了。非常欢迎新老客户来我厂参观！如需验厂，我们也很乐意配合。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
