---
layout: pages
permalink: /stock-drain-pan/
category: products
type: 沥水盘
type-en: stock-drain-pan
title: 沥水盘
keywords: 沥水盘关键字
description: 沥水盘摘要(description标签)。
---
<section>
  <div class="container">
    <div id="portfolio" class="container">
      <div class="row">
        <div class="col-sm-3">
          {% include nav-stock.html %}
          {% include nav-products.html %}
          {% include nav-news.html %}
          {% include nav-about.html %}
          {% include nav-contact.html %}
        </div>
        <div class="col-md-9 col-sm-9">
          <div class="itemfilter">
            <div class="itemfilter-item" data-filter-group='product-1'>
              <div class="key"><span class="item-key">尺寸</span></div>
              <div class="vals">
                <div data-filter-group="products" class="filter-group collapsible collapsed">
                  <a class="item" data-filter="" href="#">不限</a>
                  <a class="item" data-filter=".473325" href="#">47x33x2.5</a>
                  <a class="item" data-filter=".503853" href="#">50x38.5x3</a>
                  <a class="item" data-filter=".374125" href="#">37x41x2.5</a>
                  <a class="item" data-filter=".42342" href="#">42x34x2</a>
                  <a class="item" data-filter=".335362" href="#">33.5x36x2</a>
                  <a class="item" data-filter=".33262" href="#">33x26x2</a>
                  <a class="item" data-filter=".3251719" href="#">32.5x17x1.9</a>
                  <a class="item" data-filter=".5038525" href="#">50x38.5x2.5</a>
                  <a class="item" data-filter=".374123" href="#">37x41x2.3</a>
                  <a class="item" data-filter=".37332" href="#">37x33x2</a>
                  <a class="item" data-filter=".50393" href="#">50x39x3</a>
                  <a class="item" data-filter=".503853" href="#">50x38.5x3</a>
                </div>
              </div>
              <div class="more"><a href="#" class="showmore">更多</a></div>
            </div>
            <div class="itemfilter-item" data-filter-group='product-2'>
              <div class="key"><span class="item-key">材质</span></div>
              <div class="vals">
                <div data-filter-group="products" class="filter-group collapsible collapsed">
                  <a class="item" data-filter="" href="#">不限</a>
                  <a class="item" data-filter=".塑料" href="#">塑料</a>
                  <a class="item" data-filter=".五金" href="#">五金</a>
                </div>
              </div>
              <div class="more"><a href="#" class="showmore">更多</a></div>
            </div>
          </div>
          <ul class="sort-destination isotope" data-sort-id="isotope-list">{% for post in site.categories["stock"] %}{% if post.type-en == page.type-en %}
            <li class="isotope-item col-xs-6 col-sm-4 col-md-3 {{ post.filter }}">
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-search fsize20"></span>
                      <strong>查看详情</strong>
                    </span>
                  </a>
                  <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                </figure>
                <div class="item-box-desc"><h4 align="center">{{ post.title }}</h4></div>
              </div>
            </li>{% endif %}{% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>