---
layout: article
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {% include nav-products.html %}
        {% include nav-stock.html %}
        {% include nav-news.html %}
        {% include nav-about.html %}
        {% include nav-contact.html %}
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <figure class="product-view-image">
              <a href="{{ site.url }}/images/products/{{ page.image }}-1.jpg" class="lightbox img-thumbnail" data-plugin-options='{"type":"image"}'>
                <img id="product-main-image" class="img-responsive" src="{{ site.url }}/images/products/{{ page.image }}-1.jpg" width="620" height="620" alt="{{ page.title }}">
              </a>
            </figure>
          </div>
          <div class="col-md-6">
            <h1 class="product-view-title">{{ page.title }}</h1>
            <p><strong>产品名称：{{ page.title }}</strong></p>
            <p><strong>产品型号：{{ page.model }}</strong></p>
            <p><strong>产品价格：¥ {{ page.price }}（<a href="{{ page.shop }}" target="_blank"><i class="fa fa-shopping-cart"></i> 点击购买</a>）</strong></p>
            <p><strong>更新时间：{{ page.date | date:"%Y-%m-%d" }}</strong></p>
            <p><strong>产品规格：{{ page.size }}</strong></p>
            <p><strong>出品单位：怡德塑料制品有限公司</strong></p>
            {{ content }}
          </div>
          <div class="col-md-12">
            <hr>
            <h3 align="center">更多{{ page.type }}产品</h3>{% if page.type-en == 'bath-mats' %}
            <div class="row">{% for post in site.categories["bath-mats"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'drain-pan' %}
            <div class="row">{% for post in site.categories["drain-pan"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'sink-pad' %}
            <div class="row">{% for post in site.categories["sink-pad"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'bathroom-set' %}
            <div class="row">{% for post in site.categories["bathroom-set"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'coasters' %}
            <div class="row">{% for post in site.categories["coasters"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'fence' %}
            <div class="row">{% for post in site.categories["fence"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'mini-pad' %}
            <div class="row">{% for post in site.categories["mini-pad"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'plastic-accessory' %}
            <div class="row">{% for post in site.categories["plastic-accessory"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}{% if page.type-en == 'plastic-mold' %}
            <div class="row">{% for post in site.categories["plastic-mold"] limit:8 %}
              <div class="col-md-3">
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="{{ site.url }}{{ post.url }}">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-search fsize20"></span>
                        <strong>查看详情</strong>
                      </span>
                    </a>
                    <img class="img-responsive" src="{{ site.url }}/images/products/{{ post.image }}-1.jpg" width="260" height="260" alt="{{ post.title }}">
                  </figure>
                  <div class="item-box-desc"><h5 align="center">{{ post.title }}</h5></div>
                </div>
              </div>{% endfor %}
            </div>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>